<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inserisci allievo</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato"/>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<style>
body{
font-family:sans-serif;
font-size:18px;
color:#3d464d;
}
div1 {
font-family:sans-serif;
font-size: 60px;
font-height:center;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
.divider hr {
  margin: 7px 0px;
  width: 35%;
}
.left { float: left; }
.right { float: right; }
}
</style>
<body>
 	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-black w3-card">
			<a
				class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
				href="javascript:void(0)" onclick="myFunction()"
				title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> <a
				th:href="@{/home}" class="w3-bar-item w3-button w3-padding-large">HOME</a> <a th:href="@{/centri}"
				href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mostra
				centri</a><a href="#tour" th:href="@{/azienda}"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small" >Supervisiona
				azienda</a>
		</div>
   <div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form th:action="@{'/centro/' + ${centro.id} + '/attivita/' + ${attivita.id} + '/allievo'}" method="POST" th:object="${allievo}">
						<div class="form-group">
							<div1><img src="http://sporvognsrejser.dk/fotos/logoer/graakallbanen_gb.png" width="120" height="120">Inserisci allievo</div1>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="signupNome">Nome</label>
							<input id="signupNome" th:type="text" th:field="*{nome}" maxlength="50" class="form-control"/>
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="control-label"></span>
						</div>

						<div class="form-group">
							<label class="control-label" for="signupCognome">Cognome</label>
							<input id="signupCognome" th:type="text" th:field="*{cognome}" maxlength="50" class="form-control"/>
							<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}" class="control-label"></span>
						</div> 
						
						<div class="form-group">
							<label class="control-label" for="signupEmail">Email</label>
							<input id="signupEmail" type="email" th:field="*{email}" maxlength="50" class="form-control"/>
							<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="signupTelefono">Telefono</label>
							<input id="signupTelefono" type="text" th:field="*{telefono}" maxlength="50" class="form-control">
							<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="signupLuogoNascita">Luogo di nascita</label>
							<input id="signupLuogoNascita" type="text" th:field="*{luogoNascita}" maxlength="50" class="form-control"/>
							<span th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></span>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="signupAnnoNascita">Anno di nascita</label>
							<input id="signupAnnoNascita" type="text" th:field="*{annoNascita}" maxlength="50" class="form-control"/>
							<span th:if="${#fields.hasErrors('annoNascita')}" th:errors="*{annoNascita}"></span>
						</div>

						<div class="form-group">
							<button id="signupSubmit" th:type="submit" class="btn btn-info btn-block">Invia</button>
						</div>
							<span style="color:red" th:text="${exists}" ></span>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
