<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato"/>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<title>Lista di tutti gli allievi</title>
</head>
<style>
body{
font-family:sans-serif;font-size:18px;color:#3d464d;font-weight:normal
}
div1 {
font-family:sans-serif;
font-size: 60px;
font-height:center;}
.list-group-item{
    border: 0;
    padding-left: 0;
    border-top: 1px solid;
    border-color: rgba(37,40,43,0.1);
}
.list-group .list-group-item:first-child{
    border:0;
}
.list-group .list-group-item a{
    color: #2895F1;
    cursor: pointer;
    text-decoration: none;
}
.list-group.list-group-header{
    padding:0;
    margin:0;
}
.list-group.list-group-body .glyphicon {
 font-size: 25px; vertical-align: middle;
}
.list-group-panel{
    border: 1px solid #ccdbeb;
    border-radius: 0;
}
</style>
<body>
	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-black w3-card">
			<a
				class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
				href="javascript:void(0)" onclick="myFunction()"
				title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> <a
				th:href="@{/home}" class="w3-bar-item w3-button w3-padding-large">HOME</a> <a th:href="@{/centri}"
				href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mostra
				centri</a><a href="#tour" th:href="@{/azienda}"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small" >Supervisiona
				azienda</a>
		</div>
<div class="container">
    <div1><img src="http://sporvognsrejser.dk/fotos/logoer/graakallbanen_gb.png" width="240" height="240">Lista di tutti gli allievi</div1>
    <hr>
    <div class="row">
        <div class="col-xs-12" style="">
            <div class="panel panel-default list-group-panel">
                <div class="panel-body">
                    <ul class="list-group list-group-header">
                        <li class="list-group-item list-group-body">
                            <div class="row">
                                <div class="col-xs-6 text-left">Nome</div>
                                <div class="col-xs-3">Cognome</div>
                                <div class="col-xs-3">Email</div>
                            </div>
                        </li>
                    </ul>
                    <div th:each="allievo : ${allievi}">
                            <div class="row">
                                <div class="col-xs-6 text-left" style=" "><a th:href="@{'/azienda/allievo/' + ${allievo.id}}"><span class="glyphicon glyphicon-user" aria-hidden="true">  </span>  <span th:text="${allievo.nome}">  </span>
								</a></div>
							
								<div class="col-xs-3" style=" "><a th:href="@{'/azienda/allievo/' + ${allievo.id}}"><span th:text="${allievo.cognome}"></span>
								</a></div>
							
								<div class="col-xs-3" style=" "><a th:href="@{'/azienda/allievo/' + ${allievo.id}}"><span th:text="${allievo.email}"></span>
								</a></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
      <span style="color:red" th:text="${listaVuota}" ></span>
</div>

</body>
</html>



