<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css" />
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="UTF-8">
<title>Mostra Centro</title>
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="//bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet"
	type="text/css" />

<script src="//code.jquery.com/jquery.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<style>
body {
	font-family: sans-serif;
	font-size: 18px;
	color: #3d464d;
	font-weight: normal
}

div1 {
	font-family: sans-serif;
	font-size: 60px;
	font-height: center;
}
</style>
<body>
	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-black w3-card">
			<a
				class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
				href="javascript:void(0)" onclick="myFunction()"
				title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> <a
				th:href="@{/home}" class="w3-bar-item w3-button w3-padding-large">HOME</a> <a
				th:href="@{/centri}" href="#band"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mostra
				centri</a><a href="#tour" th:href="@{/azienda}"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small">Supervisiona
				azienda</a>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div1>
					<img
						src="http://sporvognsrejser.dk/fotos/logoer/graakallbanen_gb.png"
						width="240" height="240">Dettagli Centro</div1>
				</div>
			</div>

			<div class="row clearfix">
				<div class="col-md-12 column">

					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="list-group">
								<h1>
									<div1 th:text="${centro.nome}"></div1>
								</h1>


								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
										Indirizzo, Numero civico: <span
											th:text="${centro.indirizzo} + ${centro.numeroCivico}"></span>
									</h4>
								</div>

								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
										Città: <span th:text="${centro.citta}"></span>
									</h4>
								</div>

								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
										Email: <span th:text="${centro.email}"></span>
									</h4>
								</div>

								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
										Telefono: <span th:text="${centro.telefono}"></span>
									</h4>
								</div>



								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<a
											th:href="@{'/centro' + '/' + ${centro.id} + '/' + 'attivitas'}">
											<span class="glyphicon glyphicon-list-alt" aria-hidden="true">
										</span> Mostra Attivita
										</a>
									</h4>
								</div>

								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<a
											th:href="@{'/centro' + '/' + ${centro.id} + '/addAttivita'}"><span
											class="glyphicon glyphicon-plus" aria-hidden="true"></span>
											Aggiungi Attivita</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>