<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<title>Profilo Allievo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato"/>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<style>
body{
font-family:sans-serif;font-size:18px;color:#3d464d;font-weight:normal
}
div1 {
font-family:sans-serif;
font-size: 45px;
font-height:center;}
h2{font-family:sans-serif;
font-size: 60px;
font-height:center;}
</style>
<body>
	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-black w3-card">
			<a
				class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
				href="javascript:void(0)" onclick="myFunction()"
				title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> <a
				th:href="@{/home}" class="w3-bar-item w3-button w3-padding-large">HOME</a> <a th:href="@{/centri}"
				href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mostra
				centri</a><a href="#tour" th:href="@{/azienda}"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small" >Supervisiona
				azienda</a>
		</div>
	<div class="container">
		<div class="row">
		<br/>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div1><img src="http://sporvognsrejser.dk/fotos/logoer/graakallbanen_gb.png" width="120" height="120">Profilo allievo</div1>
				</div>
				<div class="panel-body">
					<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
						<img alt="User Pic"
							src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
							id="profile-image1" class="img-circle img-responsive">


					</div>
					<div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
						<div class="container">
							<h2><span th:text="${allievo.nome}"></span>	<span th:text="${allievo.cognome}"></span></h2>

						</div>
						<hr>
						<ul class="container details">

							<li><p>
									<span class="glyphicon glyphicon-envelope one"
										style="width: 50px;"></span><span th:text="${allievo.email}"></span>
								</p></li>
							<li><p>
									<span class="glyphicon glyphicon-earphone" style="width: 50px;"></span><span th:text="${allievo.telefono}"></span>
								</p></li>
							<li><p>
									<span class="glyphicon glyphicon-home" style="width: 50px;"></span><span th:text="${allievo.luogoNascita}"></span>
								</p></li>
							<li><p>
									<span class="glyphicon glyphicon-calendar" style="width: 50px;"></span><span th:text="${allievo.annoNascita}"></span>
								</p></li>
						</ul>
						<div class="form-group">
						<form th:action="@{'/centro/' + ${centro.id} + '/attivita/' + ${attivita.id} + '/allievo/' + ${allievo.id}}" method = "POST">
							<button id="signupSubmit" th:type="submit" class="btn btn-info btn-block">Disiscrivi allievo</button></form>
						</div>

					</div>
				</div>
			</div>
		</div>
</body>
</html>