<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css" />
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="UTF-8">
<title>Mostra Azienda</title>
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="//bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet"
	type="text/css" />

<script src="//code.jquery.com/jquery.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
body {
	font-family: sans-serif;
	font-size: 18px;
	color: #3d464d;
	font-weight: normal
}

h1 {
	font-family: sans-serif;
	font-size: 60px;
	font-height: center;
}
</style>
<body>
	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-black w3-card">
			<a
				class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
				href="javascript:void(0)" onclick="myFunction()"
				title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> <a
				th:href="@{/home}" class="w3-bar-item w3-button w3-padding-large">HOME</a> <a
				th:href="@{/centri}" href="#band"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small">Mostra
				centri</a><a href="#tour" th:href="@{/azienda}"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small">Supervisiona
				azienda</a>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>
						<img
							src="http://sporvognsrejser.dk/fotos/logoer/graakallbanen_gb.png"
							width="240" height="240"> Modalità Supervisore
					</h1>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">

					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="list-group">

								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<a th:href="@{'/azienda/allAttivitas'}">Mostra tutte le
											Attivita</a>
									</h4>
								</div>

								<div class="list-group-item">
									<h4 class="list-group-item-heading">
										<a th:href="@{'/azienda/allAllievi'}">Mostra tutti gli
											Allievi</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</body>
</html>